<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f27026538d.js" crossorigin="anonymous"></script>
    <!-- Link your favicon -->

    <link rel="shortcut icon" href="/img/camera.png" type="image/x-icon">


    <!-- Setup your title -->

    <title>Photo downloader</title>

    <!-- Link your stylesheets -->

    <link rel="stylesheet" href="/styles/css/styles.css">


</head>

<body>

<!-- Placeholder -->
<div class='download__container'>
    <div class='download__wrapper'>
        <h1>Instagram photo downloader</h1>
        <form class="download__form">
            <input placeholder="Insert URL" name="downloadURL" type="url" class="download__input" required>
            <button class="download__button" type="submit">Download</button>
        </form>
        <div class="loading__wrapper">
            <p>Loading</p>
            <div class="spinner__container">
                <i class="far fa-laugh-beam loading__spinner"></i>
            </div>
        </div>

    </div>
</div> <!-- End of placeholder -->


<!-- Your bundles go here -->
<script src="/scripts/bundle.js"></script>
</body>

</html>